<html><body><h1>It works!</h1>
<script type="text/javascript">
  setInterval(jQuery('.blinking').toggle, 1500);
</script>
<p>This is the default web page for web1.</p>
<p>The web server software is running but no content has been added, yet.</p>
<br>
<p><blink class="blinking">what do you expect here?</blink></p>
</body></html>
